*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(43, 45, 45);
}
nav img{
    height: 68px;
}
nav ul{
    display: flex;
    background-color: black;
    height: 70px;
    list-style-type:none;
    color: aliceblue;
    align-items: center;
    top: 0%;
    justify-content: center;
}

nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search{
    margin-left: 58%;
    border-radius: 50px;

}
.msrch{
    border-radius: 50%;
    height: 50px;
    margin: auto;
}
button{
    border-radius: 50%;
}
.brand{
    display: flex;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.msrch:hover{
    height: 55px;
}
.container{
    height: 100px;
    background-color: black;
    width: auto;
    /* margin-top: 1%; */
    flex-direction: column;
    color: aliceblue;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#scroll{
    width: 97%;
    height: 5px;
    position: sticky;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.bttn{
    text-align: center;
    padding: 5px;
}
.bttn i{
    cursor: pointer;
    padding: 8px;
}
.bttn i:hover{
    color:cadetblue;
}
.box{
    margin: auto;
    background-color: black;
    position: relative;
    width: 100vw;
    height: 73vh;
    color: aliceblue;
    border-radius: 5px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll-playlist {
    display: grid;
    place-items: center;
    overflow-y: scroll;
    width: 70%;
    height: 215px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px black; 
    background-color: #ffffff1a; 
    border-radius: 10px;
    border: 2px solid #ffffff1a;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: 0 0 0px #ffffff;  */
    background-color: #ffffff5a; 
}

.txt{
    font-weight: bold;
    text-decoration: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.songlist{
    background-color:grey;
    width: 45%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    margin: 12px 0;
}
.songlist img
{   
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.time{
    text-align: center;
    font-weight: bold;
    margin: 0 15px;
}
.time i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 20px;
    
}
.songinfo img{
    position:absolute;
    margin-top: 10px;
    height: 50px;
    width: 140px;
    opacity: 0;
    transition: 1s ease-in;
}
#mastersong{
   display: inline;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   padding: 10px ;
   font-size: larger;
    margin-left: 140px;
}
